<div class="row text-center mb-10">
    <div class="col">
        <h1>Contador</h1>
        <h2>{{ contador }}</h2>
    </div>

    <div class="row text-center">
        <div class="col">
            <button class="btn btn-primary" (click)="incrementar()">+1</button>
            <button class="btn btn-info ms-2" (click)="decrementar()" >-1</button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            <app-hijo></app-hijo>
        </div>
    </div>
</div>